<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = " https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <h2>체크박스 ON/OFF를 확인하는 예제 </h2>
    <div id ="app">
        <label>
            <input type="checkbox" v-model="myCheck">
            체크박스의 상태는 {{myCheck}}
        </label><br>

        <h2>복수 체크박스의 ON을 배열로 만드는 예제 </h2>
        <label>
            <input type="checkbox" value="red" v-model="myChecks">
            적
        </label><br>
        
        <label>
            <input type="checkbox" value="green" v-model="myChecks">
            녹
        </label><br>
        <label>
            <input type="checkbox" value="blue" v-model="myChecks">
            청
        </label><br>
        선택한 색은 {{myChecks}}<br>

        <h2>동의에 체크하면 송신 버튼이 활성화 되는 예제</h2>
        <label>
            <input type="checkbox" v-model="myAgree">
            동의합니다.
        </label>
        <button v-bind:disabled="myAgree==false">송신</button>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                myCheck:false,
                myChecks:[],
                myAgree: false
            }
        })
    </script>
</body>
</html>